{% extends 'base.html.twig' %}

{% block title %}Área do Estudadnte{% endblock %}

{% block body %}
    <div class="bg-gray-100">
        <div class="min-h-screen flex flex-col">
            <header class="bg-blue-600 text-white p-4">
                <div class="container mx-auto flex justify-between items-center">
                    <h1 class="text-2xl font-bold">Área do Estudante</h1>
                    <div class="flex items-center space-x-4">
                        <img
                            src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=100&q=80"
                            alt="Perfil do Estudante" class="w-10 h-10 rounded-full">
                        <span>{{ app.user.name }}</span>
                    </div>
                </div>
            </header>
            <main class="flex-grow container mx-auto my-8 p-4">

                <h2 class="text-2xl font-semibold mb-6">Suas Disciplinas</h2>

                <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-6">
                    {% for subject in app.user.subjects %}
                        <article class="bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300">
                            <div class="flex justify-between items-start mb-4">
                                <h3 class="text-xl font-semibold">{{ subject.name }}</h3>
                                {#                                @to-do Add emblemas #}
                                {#                                <img src="C:\Users\Francyane\Pictures\emblema3.png" alt="Iniciante Explorador" #}
                                {#                                     class="w-24 h-26 rounded-full" title="Iniciante Explorador"> #}
                            </div>
                            <p class="text-gray-600 mb-4">{{ subject.description }}</p>
                            <div class="flex justify-between items-center">
                                <span class="text-sm text-blue-600">
                                    Progresso: {{ subject.progress }}%
                                </span>
                                <button
                                    class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition duration-300">
                                    Continuar
                                </button>
                            </div>
                        </article>
                    {% endfor %}
                </section>

                <h2 class="text-2xl font-semibold mb-6">Disciplinas Disponíveis</h2>

                <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                    {% for subject in allowedSubjects %}
                        <article
                            class="flex flex-wrap content-between bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition duration-300">
                            <div>
                                <div class="flex justify-between items-start mb-4">
                                    <h3 class="text-xl font-semibold">{{ subject.name }}</h3>
                                    {#                                @to-do Add emblemas #}
                                    {#                                <img src="C:\Users\Francyane\Pictures\emblema3.png" alt="Iniciante Explorador" #}
                                    {#                                     class="w-24 h-26 rounded-full" title="Iniciante Explorador"> #}
                                </div>
                                <p class="text-gray-600 mb-4">{{ subject.description }}</p>
                            </div>
                            <div class="flex justify-between items-center">
                                <a
                                    href="{{ path('app_subject_enroll', {'id': subject.id}) }}"
                                    class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition duration-300">
                                    Matricular-se!
                                </a>
                            </div>
                        </article>
                    {% endfor %}
                </section>
            </main>
            <footer class="bg-gray-200 text-center p-4">
                <p>&copy; 2024 - Todos os direitos reservados.</p>
            </footer>
        </div>
    </div>
{% endblock %}
