{% extends "base.html.twig" %}

{% block title %}Teste: {{ studentTest.test.name }}{% endblock %}


{% block breadcrumb %}
    <nav class="bg-gray-100 py-2">
        <div class="container mx-auto px-4">
            <ol class="list-none p-0 inline-flex">
                <li class="flex items">
                    <a href="{{ url('app_index') }}" class="text-blue-500">Home</a>
                    <span class="mx-2">/</span>
                </li>
                <li class="flex items">
                    <a href="{{ url('app_subject_show', {'id': studentTest.test.module.subject.id}) }}"
                       class="text-blue-500">{{ studentTest.test.module.subject.name }}</a>
                    <span class="mx-2">/</span>
                <li class="flex items">
                    <a href="{{ url('app_module_show', {'id': studentTest.test.module.id}) }}"
                       class="text-blue-500">{{ studentTest.test.module.name }}</a>
                    <span class="mx-2">/</span>
                </li>
                <li class="flex items">
                    <span class="text-gray-500">{{ studentTest.test.name }}</span>
                </li>
            </ol>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <main class="flex-grow container mx-auto my-8 p-4">

        <div class="bg-white shadow-md rounded-lg p-6 mb-6 space-y-4">
            <h3 class="text-xl font-bold text-gray-800">
                {{ studentTest.test.name|raw }}
            </h3>
        </div>

        {% set letters = ['A', 'B', 'C', 'D', 'E'] %}

        {% for response in studentTest.responses %}
            <div class="bg-white shadow-md rounded-lg p-6 mb-6 space-y-4">
                <h3 class="text-xl font-semibold text-gray-800 mb-4">
                    {{ response.question.description|raw }}
                </h3>
                {% for alternative in response.question.alternatives %}
                    <div
                        class="w-full text-left p-4 rounded-lg transition-all border-2 flex items-center space-x-3
                            {{ alternative.isCorrect ? 'border-green-500 *:border-green-500' }}
                            {{ response.id == alternative.id and not(alternative.isCorrect)? 'border-red-500 *:border-red-500' }}">
                            <span
                                class="w-8 h-8 flex items-center justify-center rounded-full border-2 shrink-0">
                                {{ letters[loop.index0] }}
                            </span>
                        <span class="flex-grow">{{ alternative.description|raw }}</span>
                        {% if alternative.id == response.id %}
                            {% if alternative.isCorrect %}
                                <span
                                    class="w-8 h-8 flex items-center justify-center rounded-full bg-green-500 text-white">
                                    <i class="bi bi-check-lg"></i>
                                </span>
                            {% else %}
                                <span
                                    class="w-8 h-8 flex items-center justify-center rounded-full bg-red-500 text-white">
                                    <i class="bi bi-x"></i>
                                </span>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

    </main>
{% endblock %}
